/*GERAL*/
*{
    padding: 0;
    margin: 0;
}
/*Header*/
.Logo{
    width: 170px;
    height: 170px;
}
.imagem{
    padding-left: 3em
}
.links{
    padding-right: 3em;
}
.links > a {
    margin: 1em;
    color: white;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}
.links > a:hover{
    color: #1ed760;
}
.links > .separador {
    font-weight: bolder;
    color: white;
    font-size: 18px;
}
.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*Posicionamento*/
    background-color: black;
    /*Estilo*/
    height: 80px;
    width: 100%;
}