*{
    padding: 0;
    margin:0;
}
.App{ 
    background-color: #efefef; 
}
.Pagamentos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5em;
}
.Container{
    height: 1235px;
    max-height: 1235px;
    display: flex;
    padding: 0px 5em 0px 5em ;
}
.block{
    display: flex;
    align-items: center;
    justify-content: center;
}
.blockFooter{
    color: white;
}
